* {
  padding: 0;
  margin: 0;
}
body {
  background-color: gray;
  overflow-x: hidden;
}

.menu {
  display: flex;
  height: 70px;
  align-items: center;
  background-color: rgb(146, 203, 33) ;
  justify-content: space-around;
}
.header {
  font-size: 2rem;
  color: black;
  text-transform: uppercase;
}
.header span {
  color: greenyellow;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  font-style: italic;
}

ul {
  display: flex;
  width: 40%;
  list-style: none;
  justify-content: space-between;
  cursor: pointer;
}

ul a {
  font-size: 20px;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
  color: black;
  /* background-color: rgb(162, 255, 24); */

}
ul a:hover {
  background-color: rgb(147, 255, 6);
  border: 1px solid black;
}


/* Menu Icon */
.menu-icon {
    font-size: 35px;
    display: none;
}

/* Responsif Breakpoint  */

@media (max-width: 1024px) {
  ul {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60%;
    background-color: rgb(146, 203, 33) ;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    z-index: -1;
}
 nav ul .slide {
    transform: translateX(0);
}
.menu-icon {
    display: block;
}
}
